<template>
    <div class="row" ref="page_add_delete">
        <div class="col" v-loader="{loading:lockUpload , type:'upload'}">
            <Card :title="page_title">
                <template v-if="delete_mode">
                    <button class="btn btn-danger" :disabled="delete_images_id.length<1" @click="checkAndDelete">刪除選擇圖片</button>
                    <button class="btn btn-outline-dark" @click="setDeleteMode(false)">結束批次刪除</button>
                </template>
                <template v-else>
                    <button class="btn btn-success" @click="$refs.inp_multiple.click()">批次新增</button>
                    <button class="btn btn-success" @click="$refs.inp_directory.click()">批次新增(資料夾)</button>
                    <button class="btn btn-danger" @click="setDeleteMode(true)">批次刪除</button>
                </template>
            </Card>

            <template v-if="delete_mode">
                <Card title="批次刪除">
                    <div class="row" v-loader="{loading:load_delete_multiple_page,type:'delete'}">
                        <template v-for="p in pages">
                            <div class="col-3">

                                <div class="card mb-2">
                                    <img :src="p.url" class="card-img-top img_exist" alt="...">
                                    <div class="card-body p-0">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" :id="'del'+p.id" :value="p.id" v-model="delete_images_id">
                                            <label class="custom-control-label" :for="'del'+p.id">選擇</label>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </template>
                    </div>
                </Card>
            </template>
            <template v-else>

                <template v-if="showUpload">
                    <Card title="未上傳的圖片">
                        <div class="row">
                            <div class="col text-right">
                                <button class="btn btn-sm btn-outline-primary" @click="uploadAll">全部上傳</button>
                                <button class="btn btn-sm btn-outline-danger" @click="clearFiles">全部取消</button>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <template v-for="(url,index) in preview_list">
                                <div class="col-3" v-if="url">

                                    <div class="card mb-2" v-loader="{loading:file_load_list[index] }">
                                        <img :src="url" class="card-img-top img_exist" alt="...">
                                        <div class="card-body p-1">
                                            <div class="row">
                                                <div class="col-6">
                                                    <button class="btn btn-sm btn-outline-success" @click="uploadOne(index)">上傳</button>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <button class="btn btn-sm btn-outline-danger" @click="removeOne(index)">取消</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </template>
                        </div>
                    </Card>
                </template>
                <Card title="漫畫頁面">

                    <div class="row">
                        <template v-for="p in pages">
                            <div class="col-3">

                                <div class="card mb-2">
                                    <img :src="p.url" class="card-img-top img_exist" alt="...">
                                    <div class="card-body p-0">
                                        排序：{{ p.sort }}
                                    </div>
                                </div>

                            </div>
                        </template>
                    </div>

                </Card>
            </template>
        </div>
        <div class="" hidden>
            <input type="file" @change="uploadFile" ref="inp_multiple" placeholder="上傳複數檔案" multiple :accept="accept">
            <input type="file" @change="uploadDirectory" ref="inp_directory" placeholder="上傳資料夾" webkitdirectory multiple :accept="accept">
        </div>
    </div>
</template>

<script>
import Card from "../../common/Card";
import {mapActions, mapGetters} from "vuex";
import mixinImage from "../../../mixins/mixinImage";
import Swal from "sweetalert2";

export default {
    name      : "pageAddDelete",
    components: {Card},
    mixins    : [mixinImage],
    data() {
        return {
            ch_id: null,

            file_list     : [],
            preview_list  : [],
            file_load_list: [],

            lockUpload: false,

            delete_mode     : false,
            delete_images_id: [],

            test_flag: true,
        }
    },
    computed: {
        ...mapGetters('comic', ['pages', 'page_title',]),
        ...mapGetters('load', ['getLoading']),
        showUpload() {
            if (this.preview_list.length < 1) {
                return false
            }

            let flag = false
            for (let i in this.preview_list) {
                let url = this.preview_list[i]
                if (url) {
                    flag = true
                }
            }
            if (!flag) {
                //如果都沒有就順便清空
                this.clearFiles()
                this.lockAll(true)
            }

            return flag
        },
        //刪除用load
        load_delete_multiple_page() {
            return this.getLoading('comic_delete_multiple_page')
        },
    },
    methods : {
        ...mapActions('comic', ['addPage', 'getPagesById', 'deletePages']),
        checkAndDelete() {
            Swal.fire({
                title             : '刪除確認',
                text              : "確定要刪除指定頁？",
                icon              : 'warning',
                showCancelButton  : true,
                confirmButtonText : '確定刪除',
                cancelButtonText  : '取消',
                reverseButtons    : true,
                confirmButtonColor: '#FF0000'
            }).then(result => {
                let {value} = result

                if (value) {
                    this.deletePages(this.delete_images_id).then(() => {
                        this.delete_images_id = []
                    })
                }
            })

        },
        setDeleteMode(flag) {
            this.clearFiles()
            this.delete_mode = flag
        },
        //全部上傳
        uploadAll() {
            this.lockAll(false)

            for (let i in this.file_list) {
                let file = this.file_list[i]

                if (file) {
                    this.uploadOne(i)
                }
            }

            // this.lockAll(true)
        },
        //單檔案上傳
        uploadOne(index) {
            //上 loader
            let file_load_list    = [...this.file_load_list]
            file_load_list[index] = true
            this.file_load_list   = file_load_list

            //
            let file = this.file_list[index]
            let fd   = new FormData();
            fd.append('chapter_id', this.ch_id)
            fd.append('file', file)
            this.addPage(fd).then(() => {
                this.removeOne(index)
            })
        },
        //清掉一個
        removeOne(index) {

            let preview_list    = [...this.preview_list]
            let url             = preview_list[index]
            preview_list[index] = null
            this.removePreviewURL(url)
            this.preview_list = preview_list

            this.file_list[index]      = null;
            this.file_load_list[index] = true

        },
        // 上傳複數檔案
        uploadFile() {
            let f_list = this.$refs.inp_multiple.files;
            if (f_list.length < 1) {
                return
            }
            this.pushAndPreviewImage(f_list)
            this.$refs.inp_multiple.value = '';

        },
        // 上傳資料夾
        uploadDirectory() {
            let f_list = this.$refs.inp_directory.files;
            if (f_list.length < 1) {
                return
            }
            this.pushAndPreviewImage(f_list)
            this.$refs.inp_multiple.value = '';
        },
        //將圖片加入與預覽
        pushAndPreviewImage(f_list) {
            for (let i = 0; i < f_list.length; i++) {
                let file = f_list[i];
                //濾掉不是圖片
                if (!this.isImage(file.type)) {
                    continue;
                }
                this.file_list.push(file);
                let preview_list = [...this.preview_list]
                preview_list.push(this.createPreviewURL(file))
                this.preview_list = preview_list
                this.file_load_list.push(false)
            }
        },
        lockAll(flag) {
            this.lockUpload = !flag
            this.$refs.page_add_delete.querySelectorAll('button').forEach((item) => {
                item.disabled = !flag
            })
        },
        //清空全部檔案
        clearFiles() {
            //清空全部預覽圖片
            for (let i in this.preview_list) {
                let url = this.preview_list[i]
                if (url)
                    this.removePreviewURL(url)
            }

            this.file_list      = []
            this.preview_list   = []
            this.file_load_list = []

            //清除刪除模式的
            this.delete_mode      = false
            this.delete_images_id = []
        },
    },
    mounted() {
        this.ch_id = this.$route.params.id
        this.clearFiles()
    }
}
</script>

<style scoped lang="scss">
.img_exist {
    width: 100%;
    height: 100px;
    object-fit: contain;
}
</style>
