<template>
    <div class="row">
        <div class="col">
            <Card :title="page_title">
                <button class="btn btn-success" @click="saveSort">修改順序</button>
                <button class="btn btn-outline-primary" @click="resetPage">復原</button>
            </Card>
            <Card title="漫畫頁面">


                <draggable v-model="temp_pages" class="row" handle=".drag_area">

                    <div class="col-3" v-for="(p,index) in temp_pages" :key="p.id">
                        <div class="card mb-2">
                            <p class="text-center p-0 drag_area">點此拖曳</p>
                            <img :src="p.url" class="card-img-top img_sort" alt="...">
                            <div class="card-body p-0" @click="setPageSortPreview(p.url)">
                                <div class="row">
                                    <div class="col" :a=" index + 1 " :b="p.sort">
                                        <template v-if="index+1!=p.sort">
                                            排序：<span class="text-danger">{{ index + 1 }}</span>
                                        </template>
                                        <template v-else>
                                            排序：<span class="text-dark">  {{ p.sort }}</span>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </draggable>

            </Card>

        </div>
    </div>
</template>

<script>
import Card from "../../common/Card";
import draggable from 'vuedraggable'
import {mapActions, mapGetters} from "vuex";
import Swal from "sweetalert2";

export default {
    name      : "pageSortMode",
    components: {Card, draggable},
    data() {
        return {
            temp_pages: [],
        }
    },
    methods : {
        ...mapActions('comic', ['setPageSortPreview', 'setPageSort',]),
        saveSort() {
            Swal.fire({
                title             : '修改確認',
                text              : "確定要修改順序？",
                icon              : 'warning',
                showCancelButton  : true,
                confirmButtonText : '確定修改',
                cancelButtonText  : '取消',
                reverseButtons    : true,
                confirmButtonColor: '#006fff'
            }).then(result => {
                let {value} = result

                if (value) {
                    let id = this.$route.params.id

                    this.setPageSort({
                        id,
                        pages: this.temp_pages
                    })

                }
            })
        },
        resetPage() {
            this.temp_pages = [...this.pages];
        },

    },
    computed: {
        ...mapGetters('comic', ['pages', 'page_title',]),
    },
    watch   : {
        pages() {
            this.resetPage()
        }
    },
    mounted() {
        this.resetPage()
    }
}
</script>

<style scoped>
.drag_area:hover {
    background-color: #c8c8c8;
    cursor: pointer;
}

.img_sort {
    width: 100%;
    height: 100px;
    object-fit: contain;
}
</style>
