<template>
    <div class="row">
        <div class="col-9">
            <div class="row">
                <div class="col-6">
                    <h1>預設</h1>
                    <Card>
                        <div class="row h_400px" v-loader="{loading:true}">
                            <div class="col"></div>
                        </div>
                    </Card>
                    <h1>上傳</h1>
                    <Card>
                        <div class="row h_400px" v-loader="{loading:true,type:'upload'}">
                            <div class="col"></div>
                        </div>
                    </Card>
                    <h1>下載</h1>
                    <Card>
                        <div class="row h_400px" v-loader="{loading:true,type:'download'}">
                            <div class="col"></div>
                        </div>
                    </Card>
                </div>
                <div class="col-6">
                    <h1>訊息</h1>
                    <Card>
                        <div class="row h_400px" v-loader="{loading:true,type:'message'}">
                            <div class="col"></div>
                        </div>
                    </Card>
                    <h1>刪除</h1>
                    <Card>
                        <div class="row h_400px" v-loader="{loading:true,type:'delete'}">
                            <div class="col"></div>
                        </div>
                    </Card>
                </div>
            </div>

        </div>
        <div class="col-3">
            <Card>
                這邊展示全部 loader 已經如何生成
            </Card>
        </div>
    </div>
</template>

<script>
import Card from "../common/Card";

export default {
    name      : "ShowLoader",
    components: {
        Card,
    },
}
</script>

<style scoped>
.h_400px {
    height: 400px;
}
</style>
