<template>
    <div class="table-responsive">
        <template v-if="loading">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>作者名稱</th>
                    <th>作者簡介</th>
                    <th class="th_control"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="4">資料讀取中</td>
                </tr>
                </tbody>
            </table>
        </template>
        <template v-else>
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>作者名稱</th>
                    <th>作者簡介</th>
                    <th class="th_control"></th>
                </tr>
                </thead>
                <tbody>
                <template v-for="item in list">
                    <tr>
                        <td>
                            <img :src="item.photo" class="img-thumbnail" alt="">
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td class="th_control">
                            <router-link :to="{name:'author.detail' , params:{id:item.id}}">編輯</router-link>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </template>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "authorTable",
    data() {
        return {page: null}
    },
    computed: {
        ...mapGetters('load', ['getLoading']),
        ...mapGetters('author', ['list']),
        loading() {
            return this.getLoading('author_list')
        },
    },
    methods : {
        ...mapActions('load', ['setLoading']),
        ...mapActions('author', ['getAuthorList']),
    },
    mounted() {
        let page = this.page = this.$route.query.page ? this.$route.query.page : 1;

        this.getAuthorList(page)
    }
}
</script>

<style scoped>
.th_control {
    width: 100px;
    text-align: center;
}

.img-thumbnail {
    max-width: 200px;
    max-height: 200px;
}
</style>
