<template>
    <div class="row">
        <div class="col-9">
            這邊放搜尋
        </div>
        <div class="col-3">
            <button class="btn btn-success" @click="openAddModal">新增作者</button>
            <modal-add-author ref="model"/>
        </div>
    </div>
</template>

<script>
import ModalAddAuthor from "./modalAddAuthor";

export default {
    name      : "listControlBar",
    components: {ModalAddAuthor},
    methods   : {
        openAddModal() {
            this.$refs.model.open()
        },
    }
}
</script>

<style scoped>

</style>
