<template>
    <modal ref="modal" @afterHide="clear" :load="load">
        <template #header>
            新增作者
        </template>
        <template #default>
            <div class="row mb-1">
                <div class="col">
                    <input type="text" class="form-control" :class="check.name" placeholder="作者名稱" v-model="name" @keypress="notStart">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col">
                    <input type="text" class="form-control" :class="check.desc" placeholder="作者描述" v-model="desc" @keypress="notStart">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col">
                    <input type="file" ref="f" placeholder="檔案" @change="fileChange" :accept="accept">
                </div>
            </div>
            <div class="row" v-if="preview_url">
                <div class="col">
                    <img :src="preview_url" class="rounded float-left" alt="">
                </div>
            </div>
        </template>
        <template #footer>

            <button class="btn btn-success" @click="add">新增作者</button>

        </template>
    </modal>
</template>

<script>
import Modal from "../../common/Modal";
import mixinModal from "../../../mixins/mixinModal";
import mixinImage from "../../../mixins/mixinImage";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "modalAddAuthor",
    data() {
        return {
            start: true,

            check: {
                name: '',
                desc: '',
            },

            name       : '',
            desc       : '',
            file       : null,
            preview_url: null,
        }
    },
    mixins    : [mixinModal, mixinImage],
    methods   : {
        ...mapActions('author', ['createAuthor']),
        notStart(v) {
            this.start = false
        },
        clear() {
            this.start = false

            this.name = '';
            this.desc = '';
            this.clearPreviewImage()
        },
        clearPreviewImage() {
            if (this.preview_url) {
                this.preview_url = null
                this.removePreviewURL(this.preview_url)
            }
            this.$refs.f.value = '';
            this.file          = null
        },
        fileChange() {
            let fs = this.$refs.f.files

            if (fs.length < 1) {
                this.clearPreviewImage()

                return
            }
            this.file        = fs[0]
            this.preview_url = this.createPreviewURL(this.file)
        },
        add() {
            let re = this.inputCheck()

            if (!re) {
                return
            }
            //這邊放ajax add

            let fd = new FormData();
            fd.append('name', this.name)
            fd.append('description', this.desc)
            fd.append('photo', this.file)

            this.createAuthor(fd)
        },
        inputCheck() {
            let {name, desc} = this;

            let check = {}
            let flag  = true

            if (name.length > 0) {
                check.name = 'is-valid';
            } else {
                flag = false

                check.name = 'is-invalid';
            }
            if (desc.length > 0) {
                check.desc = 'is-valid';
            } else {
                flag = false

                check.desc = 'is-invalid';
            }
            this.check = check

            return flag
        }
    },
    computed  : {
        ...mapGetters('load', ['getLoading']),
        load() {
            return this.getLoading('author_create')
        },
        checkName() {
            let val = this.name;
            if (this.start)
                return ''

            if (val.length > 0)
                return 'is-valid'
            return 'is-invalid'

        },
    },
    watch     : {
        load(load) {
            if (!load) {
                this.hide()
            }
        },
    },
    components: {Modal},
    mounted() {
    }
}
</script>

<style scoped>
img {
    max-width: 100%;
    object-fit: contain;
}
</style>
