<template>
    <div class="row">
        <div class="col">
            <!--   編輯-->
            <template v-if="load_detail_submit">
                <card title="編輯中...">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </card>
            </template>
            <template v-else-if="editor">
                <card title="編輯">
                    <div class="row" v-if="author_data">

                        <div class="col-4 text-center">
                            <template v-if="edit_preview_url">
                                <img :src="edit_preview_url" class="img-thumbnail" alt="">
                            </template>
                            <template v-else>
                                <img :src="author_data.photo" class="img-thumbnail" alt="">
                            </template>
                            <button class="btn btn-block btn-sm btn-outline-warning" @click="openFile()">上傳圖片</button>
                        </div>
                        <div class="col-8">

                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="author_name">作者名稱</label>
                                    <input type="text" class="form-control" id="author_name" v-model="edit_name" :placeholder="author_data.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="author_description">簡介</label>
                                <textarea id="author_description" class="form-control" v-model="edit_desc" :placeholder="author_data.description"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" class="btn btn-primary" @click="saveEditData">儲存</button>
                                    <button type="button" class="btn btn-info" @click="changeEditor(false)">取消</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button type="button" class="btn btn-danger" @click="deleteAuthorByID">刪除作者</button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div v-else>
                        未搜尋到作者id {{ id }}的資料
                        <br>
                        <router-link :to="{name:'author.list'}">返回列表</router-link>
                    </div>
                </card>
            </template>
            <!--顯示-->
            <template v-else>
                <card title="資訊">
                    <template v-if="load">
                        資料讀取中....
                    </template>
                    <template v-else>
                        <template v-if="author_data">

                            <div class="row">
                                <div class="col-4 text-center">
                                    <img :src="author_data.photo" class="img-thumbnail" alt="">
                                </div>
                                <div class="col-8">
                                    <div class="row" v-if="id!=1">
                                        <div class="col text-right">
                                            <button type="button" class="btn btn-outline-primary btn-sm " @click="changeEditor(true)">編輯</button>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <label>作者名稱</label>
                                            <p>{{ author_data.name }}</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>簡介</label>
                                        <p>{{ author_data.description }}</p>
                                    </div>
                                </div>
                            </div>

                        </template>
                        <template v-else>
                            <div class="">
                                未搜尋到作者id {{ id }}的資料
                                <br>
                                <router-link :to="{name:'author.list'}">返回列表</router-link>
                            </div>
                        </template>
                    </template>
                </card>
            </template>

            <AuthorAsset/>
        </div>

        <input ref="f" type="file" hidden @change="fileChange" :accept="accept">
    </div>
</template>

<script>
import Card from "../common/Card";
import AuthorAsset from "./detailComponent/authorAsset";
import {mapActions, mapGetters} from "vuex";
import image from "../../library/image";
import mixinImage from "../../mixins/mixinImage";

export default {
    name      : "Detail",
    mixins    : [mixinImage],
    components: {
        Card,
        AuthorAsset
    },
    data() {
        return {
            id: 1,

            editor: false,

            edit_name       : '',
            edit_desc       : '',
            edit_file       : null,
            edit_preview_url: null,
        }
    },

    watch   : {
        edit_file(f) {
            if (f)
                this.edit_preview_url = this.createPreviewURL(f)
            else {
                this.edit_preview_url = null
                this.removePreviewURL(this.edit_preview_url)
            }
        },
        //這邊監視送出的狀態
        load_detail_submit(load) {
            if (load) {
                this.editor = false
            }
        },
        start_delete(load) {
            if (!load) {
                this.$router.push({name: 'author.list'})
            }
        },
    },
    methods : {
        ...mapActions('author', ['getAuthorByID', 'setAuthorByID', 'deleteAuthorByID']),
        changeEditor(flag) {
            //佚名不能動
            if (this.id == 1) {
                return;
            }

            if (flag)
                this.editor = true
            else
                this.clearAll()
        },
        //清除
        clearAll() {
            this.editor    = false;
            //歸零 清空
            this.edit_name = ''
            this.edit_desc = ''

            this.clearPreviewImage()
        },
        clearPreviewImage() {
            if (this.edit_preview_url) {
                this.edit_preview_url = null
                image.removePreviewURL(this.edit_preview_url)
            }
            this.edit_file = null
        },
        //頭像
        openFile() {
            let f = this.$refs.f

            f.click()
        },
        fileChange() {
            let fs = this.$refs.f.files

            if (fs.length < 1) {
                this.clearPreviewImage()

                return
            }
            // 這邊顯示後續的圖片顯示
            this.edit_file = fs[0]
        },
        //儲存資料
        saveEditData() {
            let fd = new FormData();
            fd.append('id', this.id)
            fd.append('name', this.edit_name)
            fd.append('description', this.edit_desc)
            fd.append('photo', this.edit_file)

            this.setAuthorByID(fd)
        },
    },
    computed: {
        ...mapGetters('load', ['getLoading']),
        ...mapGetters('author', ['author_data']),
        load() {
            return this.getLoading('author_detail');
        },
        start_delete() {
            return this.getLoading('author_delete');
        },
        load_detail_submit() {
            return this.getLoading('author_detail_edit');
        },
    },
    mounted() {
        this.clearAll()

        let id = this.id = this.$route.params.id

        this.getAuthorByID(id)
    }
}
</script>

<style scoped lang="scss">
img.img-thumbnail {
    max-width: 100%;
}

input, textarea {
    &::placeholder {
        color: lightgrey;
    }
}
</style>
