<template>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <listControlBar></listControlBar>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <Pagination
                        :current_page="page"
                        :links="links"
                        :last_page="last_page"
                        :total="total"
                        :to="to"
                        @goto="goto"
                    />
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <author-table/>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <Pagination
                        :current_page="page"
                        :links="links"
                        :last_page="last_page"
                        :total="total"
                        :to="to"
                        @goto="goto"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import authorTable from "./listComponent/authorTable";
import listControlBar from "./listComponent/listControlBar";
import Pagination from "../common/Pagination";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "List",
    data() {
        return {
            page: null
        }
    },
    components: {
        authorTable,
        Pagination,
        listControlBar,
    },
    computed  : {
        ...mapGetters('author', [
            'links',
            'last_page',
            'total',
            'to',
        ]),
    },
    methods   : {
        ...mapActions('author', ['getAuthorList']),
        goto(page) {
            this.page = page
            this.getAuthorList(page)
            this.$router.push({query: {page}})
        }
    },
    mounted() {
        this.page = this.$route.query.page ? this.$route.query.page : 1;
    }
}
</script>

<style scoped>

</style>
