<template>
    <div class="row">
        <div class="col">

            <div class="row">
                <div class="col">
                    <input class="form-control" type="text" placeholder="標題" v-model="title">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="form-control" type="text" placeholder="作者編號" v-model="author_id">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <textarea class="form-control" placeholder="描述" v-model="description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="form-control" type="file" name="" id="" ref="cover">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-success" type="button" @click="testFileUpload">上傳</button>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "Add",
    data() {
        return {
            title      : '',
            author_id  : 0,
            description: '',
        }
    },
    computed: {
        checkSubmit() {
            return this.title.length > 0
        }
    },
    methods : {
        testFileUpload() {
            if (!this.checkSubmit) {
                return
            }
            let data = new FormData;
            data.append('title', this.title);
            data.append('description', this.description);
            data.append('author_id', this.author_id);
            if (this.$refs.cover.files.length > 0) {
                let file = this.$refs.cover.files[0]
                data.append('cover', file);
            }
            axios.post('/api/add_comic', data, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then((res) => {
                console.log(res.data)
            }).catch(() => {
            }).finally(() => {
            });
        },
    }
}
</script>

<style scoped>

</style>
