<template>
    <div class="row">
        <div class="col-9">

            <template v-if="detail_select=='info'">
                <info></info>
            </template>
            <template v-if="detail_select=='edit_info'">
                <edit_info></edit_info>
                <editTags></editTags>
            </template>
            <template v-if="detail_select=='edit_chapter'">
                <edit_chapter></edit_chapter>
            </template>
            <template v-if="detail_select=='edit_message'">
                <edit_message></edit_message>
            </template>
        </div>
        <div class="col-3">
            <!-- Basic Card Example -->
            <div class="card shadow mb-4">
                <div class="card-body">

                    <template v-if="loading_comic_data">
                        資料讀取中....
                    </template>
                    <template v-else>
                        <template v-if="comic_data">
                            <!--                            這邊還是要放封面跟標題，避免要回去確認-->
                            <img class="d-block mx-auto mb-4 img-thumbnail" :src="comic_data.cover" alt="" width="300">
                            <h2>{{ comic_data.title }}</h2>
                            <!--                            <p>目前是在：{{ detail_select }}</p>-->
                            <sidebarButton :class-name="isSelect('info')" icon="fa-file-alt" @click="setDetailSelect('info')">漫畫資訊</sidebarButton>
                            <sidebarButton :class-name="isSelect('edit_info')" icon="fa-pencil-alt" @click="setDetailSelect('edit_info')">編輯資訊</sidebarButton>
                            <sidebarButton :class-name="isSelect('edit_chapter')" icon="fa-window-restore" @click="setDetailSelect('edit_chapter')">章節管理</sidebarButton>
                            <sidebarButton :class-name="isSelect('edit_message')" icon="fa-comments" @click="setDetailSelect('edit_message')">留言管理</sidebarButton>
                        </template>

                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Card from "../common/Card";
import sidebarButton from "./includes/sidebarButton"
import info from "./detailComponent/info";
import editInfo from "./detailComponent/editInfo";
import editTags from './detailComponent/editTags';
import editMessage from "./detailComponent/editMessage";
import editChapter from "./detailComponent/editChapter";
import Chapters from "./detailComponent/chapters";
import Messages from "./detailComponent/messages";
import AddChapter from "./detailComponent/addChapter";
import {mapActions, mapGetters} from "vuex";
import setMessage from "../../methods/setMessage";

export default {
    name      : "Detail2",
    components: {
        Chapters,
        Messages,
        AddChapter,
        Card,
        info,
        edit_info   : editInfo,
        edit_message: editMessage,
        edit_chapter: editChapter,
        editTags,
        sidebarButton
    },
    data() {
        return {
            id: -1,

            flag_desc_editor: false,
            new_description : '',

            component_name: 'chapters',
        }
    },
    methods : {
        ...mapActions('comic', ['getComicDataById', 'getChapterById', 'setDetailSelect']),
        //改變描述
        changeDescriptionEditor(flag) {
            this.new_description  = this.comic_data.description
            this.flag_desc_editor = flag
        },
        //改變下列的 component
        changeComponent(name) {
            this.component_name = name;
        },
        test() {
            setMessage('我是通知喔')
        },
        isSelect(target) {
            if (this.detail_select == target)
                return 'border-danger'
            return 'border'
        },
    },
    computed: {
        ...mapGetters('comic', ['loading_comic_data', 'comic_data', 'chapters', 'detail_select']),
    },
    watch   : {
        comic_data(data) {
            if (!data)
                if (!this.loading_comic_data || !this.comic_data.id) {
                    //這邊之後補上訊息顯示
                    this.$router.back()
                }
        },
    },
    mounted() {
        this.id = this.$route.params.id
        this.getComicDataById(this.id)
        this.getChapterById(this.id)
        // this.getPagesById(this.id)

        //第一次進來時將首頁轉成 info
        this.setDetailSelect('info');
        // this.setDetailSelect('edit_chapter');
    }
}
</script>

<style scoped>

</style>
