<template>
    <div class="row">
        <div class="col">
            <template v-if="loading_comic_data">
                資料讀取中....
            </template>
            <template v-else>
                <template v-if="comic_data">
                    <div class="row">
                        <div id="info_control" class="col">

                            <div class="row no-gutters border rounded shadow-sm ">
                                <div class="col-2">
                                    <img class="bd-placeholder-img" :src="comic_data.cover" alt="">
                                </div>
                                <div class="col-10 p-4">

                                    <div class="row">
                                        <div class="col ">
                                            <strong class="d-inline-block mb-2 text-success">
                                                <template v-for="tag in comic_data.tags">
                                                    <a href="./">{{ tag.name }}</a>&nbsp;&nbsp;
                                                </template>
                                            </strong>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <h3 class="mb-0">{{ comic_data.title }}</h3>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-1 text-muted">作者{{ comic_data.author_id }}</div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <template v-if="flag_desc_editor">
                                                <textarea class="form-control" id="">{{ comic_data.description }}</textarea>
                                            </template>
                                            <template v-else>
                                                <p>{{ comic_data.description }}</p>
                                            </template>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <template v-if="flag_desc_editor">
                                                <button class="btn btn-primary">修改描述</button>
                                                <button class="btn btn-info" @click="changeDescriptionEditor(false)">取消</button>
                                            </template>
                                            <template v-else>
                                                <a href="javascript:void(0)" class="link-primary" @click="changeDescriptionEditor(true)">編輯</a>
                                            </template>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <a href="javascript:void(0)" @click="changeComponent('chapters')" class="">顯示章節(共{{ chapters.length }}章)</a>
                                            &nbsp;
                                            <a href="javascript:void(0)" @click="changeComponent('messages')" class="">顯示留言(共{{ comic_data.messages_count }}筆)</a>
                                            &nbsp;
<!--                                            <a href="javascript:void(0)" @click="changeComponent('addChapter')" >新增章節</a>-->
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <component :is="component_name"></component>

                </template>
            </template>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import Chapters from "./detailComponent/chapters";
import Messages from "./detailComponent/messages";
import AddChapter from "./detailComponent/addChapter";

export default {
    name      : "Detail",
    components: {Chapters, Messages, AddChapter},
    data() {
        return {
            id: -1,

            flag_desc_editor: false,
            new_description : '',

            component_name: 'chapters',
        }
    },
    methods : {
        ...mapActions('comic', ['getComicDataById', 'getChapterById']),
        //改變描述
        changeDescriptionEditor(flag) {
            this.new_description  = this.comic_data.description
            this.flag_desc_editor = flag
        },
        //改變下列的 component
        changeComponent(name) {
            this.component_name = name;
        },
    },
    computed: {
        ...mapGetters('comic', ['loading_comic_data', 'comic_data', 'chapters']),
    },
    watch   : {
        comic_data() {
            if (!this.loading_comic_data || !this.comic_data.id) {
                //這邊之後補上訊息顯示
                this.$router.back()
            }
        },
    },
    mounted() {
        this.id = this.$route.params.id
        this.getComicDataById(this.id)
        this.getChapterById(this.id)
        // this.getPagesById(this.id)
    }
}
</script>

<style scoped>
#info_control {
    margin-bottom: 20px;
}

img.bd-placeholder-img {
    max-width: 100%;
}
</style>
