<template>
    <div class="row">
        <div class="col">
            <listControlBar></listControlBar>
            <div class="row">
                <div class="col">
                    <pagination></pagination>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <comic-table></comic-table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <pagination></pagination>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

import {mapGetters, mapActions} from "vuex";
import pagination from "./includes/pagination";
import comicTable from "./includes/comicTable";
import listControlBar from "./includes/listControlBar";

export default {
    name      : "List",
    components: {
        pagination, comicTable, listControlBar
    },
    data() {
        return {}
    },
    methods : {
        ...mapActions('comic', ['getComicList', 'setPage', 'setCount'])
    },
    computed: {
        ...mapGetters("comic", ['list', 'page'])
    },
    mounted() {
        let page  = this.$route.query.page
        let count = this.$route.query.count
        if (page)
            this.setPage(page)
        if (count)
            this.setCount(count)

        this.getComicList()
    }
}
</script>

<style scoped>

</style>
