<template>
    <div class="row">
        <div class="col-9">

            <template v-if="page_component=='pageAddDelete'">
                <pageAddDelete></pageAddDelete>
            </template>
            <template v-else-if="page_component=='pageReadMode'">
                <page-read-mode></page-read-mode>
            </template>
            <template v-else-if="page_component=='pageSortMode'">
                <page-sort-mode></page-sort-mode>
            </template>
            <template v-else>
                資料建置中
            </template>
        </div>
        <div class="col-3">
            <Card>
                <template v-if="page_sort_preview_url">
                    <img class="d-block mx-auto mb-4 img-thumbnail" :src="page_sort_preview_url" alt="" width="300">
                </template>
                <sidebarButton :class-name="isSelect('pageAddDelete')" icon="fa-pencil-alt" @click="setPageComponent('pageAddDelete')">新增/刪減</sidebarButton>
                <sidebarButton :class-name="isSelect('pageReadMode')" icon="fa-pencil-alt" @click="setPageComponent('pageReadMode')">下拉閱讀</sidebarButton>
                <sidebarButton :class-name="isSelect('pageSortMode')" icon="fa-pencil-alt" @click="setPageComponent('pageSortMode')">移動圖片順序</sidebarButton>
                <sidebarButton :class-name="isSelect('aa')" icon="fa-pencil-alt" @click="setPageComponent('a')">編輯圖片</sidebarButton>
            </Card>

        </div>
    </div>
</template>

<script>
import Card from "../common/Card";
import {mapActions, mapGetters} from "vuex";
import pageAddDelete from "./pageComponent/pageAddDelete";
import pageReadMode from "./pageComponent/pageReadMode";
import pageSortMode from "./pageComponent/pageSortMode";
import sidebarButton from "./includes/sidebarButton"

export default {
    name      : "Page",
    components: {
        Card,
        sidebarButton,
        pageAddDelete,
        pageReadMode,
        pageSortMode,
    },
    data() {
        return {
            ch_id: -1,
        }
    },
    methods : {
        ...mapActions('comic', ['getPagesById', 'getChapterById', 'setPageTitle', 'setPageComponent']),
        isSelect(target) {
            if (this.page_component == target)
                return 'border-danger'
            return 'border'
        },
        showTitle() {
            let title    = this.comic_data?.title
            let ch_title = this.chapter_data?.title

            this.setPageTitle(title + " > " + ch_title)
        },
    },
    computed: {
        ...mapGetters('comic', [
            'comic_data',
            'chapter_data',
            'pages',
            'page_title',
            'page_component',
            'page_sort_preview_url',
        ]),
    },
    watch   : {
        comic_data() {
            this.showTitle()
        }
    },
    mounted() {
        this.ch_id = this.$route.params.id

        this.getPagesById(this.ch_id)
        this.setPageComponent('pageAddDelete')
    }
}
</script>

<style scoped>
#img_comic_cover {
    /*width: 300px;*/
    max-width: 100%;
}

.img_test {
    max-width: 100%;
}
</style>
