<template>
    <div class="row">
        <div class="col" style="min-height: 230px">

            <div class="row" v-loader="{loading,type:'download'}">
                <div class="col">
                    <Card>
                        <template v-if="cover">
                            <div class="row">
                                <div class="col text-center">
                                    <h3>{{ title }}</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <img id="img_cover" :src="cover" alt="" class="rounded w-100">
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col">
                                            <p>{{ title }}</p>
                                            <p>{{ title_en }}</p>
                                            <p>頁數{{ page_number }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <button class="btn btn-sm btn-danger" @click="back">結束抓取</button>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            <div class="row">
                                <div class="col-9">
                                    <input ref="search_url" class="form-control" :value="test_url">
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-primary" @click="checkAndGetInfo">取得資料</button>
                                </div>
                            </div>
                        </template>
                    </Card>
                </div>
            </div>


            <template v-if="cover">

                <div class="row position-relative">
                    <!--                    左邊縮圖顯示區塊-->
                    <div class="col-2 " style="">
                        <div class="sticky-top" style="">
                            <Card>
                                <div class="row">
                                    <div class="col" style="max-height: 95vh;overflow-y: auto;">
                                        <template v-if="gdtm_list" v-for="(item,index) in gdtm_list">
                                            <div
                                                @click="getImage(index)"
                                                class="gdtm_item"
                                                :style="gdtm_load_list[index]?load_style:item.style"
                                            ></div>
                                        </template>
                                    </div>
                                </div>
                            </Card>
                        </div>
                    </div>
                    <!--                    主要顯示區塊-->
                    <div class="col-10 ">
                        <div class="row">
                            <div class="col">
                                <div class="sticky-top">
                                    <template v-if="show_fixed_controller">
                                        <Card>
                                            <div class="row">
                                                <div class="col-6">
                                                    <button class="btn btn-danger btn-sm" @click="toggleFixedController(false)">隱藏控制項目</button>
                                                </div>
                                                <div class="col-6 text-right">
                                                    <button class="btn btn-primary btn-sm" :disabled="disabledPrevNext(current_page-1)" @click="getPrevNext(current_page-1)">上一頁</button>
                                                    目前{{ current_page + 1 }}/{{ page_number }}頁
                                                    <button class="btn btn-primary btn-sm" :disabled="disabledPrevNext(current_page+1)" @click="getPrevNext(current_page+1)">下一頁</button>
                                                </div>
                                            </div>
                                        </Card>
                                    </template>
                                    <template v-else>
                                        <div class="row">
                                            <div class="col text-right">
                                                <button class="btn btn-success btn-sm" @click="toggleFixedController(true)">顯示控制項目</button>
                                            </div>
                                        </div>
                                    </template>
                                </div>

                                <Card>
                                    <template v-if="show_gdtm_list.length > 0">
                                        <div class="row">
                                            spider_id:{{ spider_id }}
                                        </div>
                                        <template v-for="gdtm in show_gdtm_list">
                                            <div class="row">
                                                <div class="col">
                                                    <img class="show_image" :src="gdtm.src" @load="imageLoadEvent(gdtm.index)">
                                                </div>
                                            </div>
                                        </template>
                                    </template>
                                    <template v-else>
                                        點擊左邊縮圖下載圖片
                                    </template>
                                </Card>

                            </div>
                        </div>

                    </div>
                </div>

            </template>


        </div>
    </div>
</template>

<script>
import Card from "../common/Card";
import {mapActions, mapGetters} from "vuex";
import setMessage from "../../methods/setMessage";
import Swal from "sweetalert2";

export default {
    name      : "SpiderExHentai",
    components: {
        Card,
    },
    methods   : {
        ...mapActions('spider', ['getInfo', 'clearInfo']),
        checkAndGetInfo() {
            let url = this.$refs.search_url.value;
            if (url.length < 1) {
                setMessage('無效路徑！', 'error')
                return;
            }
            url = encodeURIComponent(url)
            this.getInfo(url)
        },
        getImage(index) {
            //先檢查是否有loading
            let isLoading = this.gdtm_load_list[index]
            if (isLoading) {
                return
            }

            this.changeLoad(index, true)
            let {href} = this.gdtm_list[index]

            let src = this.showImageUrl(href)

            this.show_gdtm_list.push({
                index, src
            })
        },
        //生成圖片爬蟲路徑
        showImageUrl(url) {
            return this.url + '?spider_id=' + this.spider_id + '&url=' + url
        },
        //切換隱藏控制項目
        toggleFixedController(flag) {
            this.$storage.set('spider.exhentai.toggle', flag ? 1 : 0)
            this.show_fixed_controller = flag
        },
        //讀取
        changeLoad(index, flag) {
            let list            = [...this.gdtm_load_list]
            list[index]         = flag
            this.gdtm_load_list = list
        },
        //這個是不是未完成？
        createImage(src) {
            this.testList.push(1)
        },
        //圖片的讀取事件
        imageLoadEvent(index) {
            // let target = even.target
            //
            // console.log(
            //     $(target).attr('aa')
            // )

            this.changeLoad(index, false)
        },
        //關閉當前的漫畫抓取，回到一開始
        back() {
            Swal.fire({
                title              : '確定要結束爬蟲？',
                showCancelButton   : true,
                confirmButtonText  : '確定',
                cancelButtonText   : '取消',
                showLoaderOnConfirm: true,
                confirmButtonColor : '#3085d6',
                cancelButtonColor  : '#d33',
            }).then((result) => {
                // console.log(result)
                if (result.isConfirmed) {
                    this.clearInfo();
                }
            })
        },
        //判定上一頁、下一頁
        disabledPrevNext(num) {
            //注意 三頁的話就是 0 1 2
            return num < 0 || num >= this.page_list.length;
        },
        //取得上一頁、下一頁
        getPrevNext(num) {
            if (this.disabledPrevNext(num)) {
                return
            }
            //重新抓取指定的url
            let url = this.page_list[num]
            //清除
            this.clearInfo();
            //再次抓取
            url = encodeURIComponent(url)
            this.getInfo(url)
        },
    },
    computed  : {
        ...mapGetters('load', ['getLoading']),
        ...mapGetters('spider', ['spider_id', 'title', 'title_en', 'cover', 'gdtm_list', 'page_list', 'page_number', 'current_page']),
        loading() {
            return this.getLoading('spider_get_ex_hentai_info')
        },
    },
    watch     : {
        //
        gdtm_list(gdtm_list) {
            let list = []
            for (let i in gdtm_list) {
                list[i] = false
            }
            this.gdtm_load_list = list
        },
    },
    data() {
        return {
            testList: [],

            url     : '/page/ex_hentai',
            test_url: 'https://exhentai.org/g/2228088/91ca8eaa76/',

            //是否隱藏控制項目
            show_fixed_controller: true,
            //展示列表
            show_gdtm_list: [],
            //縮圖列表
            gdtm_load_list: [],
            //左邊的style
            load_style: `
margin: 1px auto 0px;
width: 100px;
height: 143px;
background: url("/images/loading.gif") 0px 0px no-repeat transparent;
background-size:contain;
background-color:black;
background-position: center;
            `,
        }
    },
    mounted() {
        this.clearInfo()
        let toggle = this.$storage.get('spider.exhentai.toggle')
        toggle = parseInt(toggle)

        this.toggleFixedController(toggle)
    }
}
</script>

<style scoped lang="scss">
#img_cover {
    height: 200px;
    object-fit: contain;
}

.gdtm_item {
    border: 1px solid transparent;

    &:hover {
        border: 1px solid red;
        background-color: #c9c9c9;
        cursor: pointer;
    }
}

.show_image {
    max-width: 100%;
}
</style>
