// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "~bootstrap/scss/bootstrap";

// fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';

// Swal
@import "sweetalert2/src/sweetalert2";

//第二個版型
@import "layout/layout2";

//讀取
.load_bg {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, .8);

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    transition: opacity .3s;
    z-index: 9999;
}

@import "./loader/def";
@import "./loader/upload";
@import "./loader/download";
@import "./loader/message";
@import "./loader/delete";
