<template>
    <component is="Layout2">
        <router-view></router-view>
    </component>
</template>

<script>
import Layout from "./layouts/Layout";
import Layout2 from "./layouts/Layout2";

export default {
    name      : "App",
    components: {Layout, Layout2}
}
</script>

<style>
body {
    /*font-size: .875rem;*/
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
</style>
