<template>
    <card title="作品">
        <template v-if="load">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="row">
                <template v-for="comic in asset">
                    <div class="col-3 mb-4">

                        <div class="c card" style="">
                            <img :src="comic.cover" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ comic.title }}</h5>
                                <div class="text-right">
                                    <router-link class="btn btn-sm btn-primary" :to="{name:'comic.detail' , params:{id:comic.id}}">前往</router-link>
                                </div>
                            </div>
                        </div>

                    </div>
                </template>
                <div class="col-3 mb-4">
                    <div class="card" style="height: 100%">
                        <div class="card-body text-center align-items-center">
                            <button class="btn btn-outline-danger" @click="openAddModal">新增漫畫</button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <modalAddComic ref="modal"></modalAddComic>
    </card>
</template>

<script>
import Card from "../../common/Card";
import modalAddComic from "./modalAddComic";
import {mapActions, mapGetters} from "vuex";

export default {
    name      : "authorAsset",
    components: {
        Card,
        modalAddComic
    },
    data() {
        return {
            id: 1,
        }
    },
    computed: {
        ...mapGetters('load', ['getLoading']),
        ...mapGetters('author', ['asset']),
        load() {
            return this.getLoading('author_asset')
        }
    },
    methods : {
        ...mapActions('author', ['getAuthorAssetByID']),
        openAddModal(){
            this.$refs.modal.open()
        },
    },
    mounted() {
        let id = this.id = this.$route.params.id

        this.getAuthorAssetByID(id)
    }
}
</script>

<style scoped lang="scss">
.c {
    img {
        height: 200px;
        object-fit: contain;
    }
}
</style>
