<template>
    <modal ref="modal" size="modal-xl" @afterHide="clearSearchComic">
        <template #header>
            新增漫畫
        </template>
        <template #default>

            <template v-if="load_setting">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </template>
            <template v-else>
                <div class="form-row align-items-center mb-2">
                    <div class="col-auto my-1">
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" v-model="search_type">
                            <option value="0">編號</option>
                            <option value="1">名稱</option>
                        </select>
                    </div>
                    <div class="col-auto my-1">
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="text" class="form-control" v-model="search_text">
                        </div>
                    </div>
                    <div class="col-auto my-1">
                        <button type="button" class="btn btn-primary" @click="search">搜尋</button>
                    </div>
                </div>
                <template v-for="item in search_asset">
                    <div class="row">
                        <div class="col-12">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-3">
                                        <img class="cover" :src="item.cover" alt="cover">
                                    </div>
                                    <div class="col-9">
                                        <div class="card-body">
                                            <h5 class="card-title m-0">
                                                {{ item.title }}
                                                <small>
                                                    <a @click="setAuthorAsset({author_id,comic_id:item.id})" href="javascript:void(0);">關聯</a>
                                                </small>
                                            </h5>
                                            <p class="p_author m-0 p-0 mb-1">作者：{{ item.author.name }}</p>
                                            <template v-for="tag in item.tags">
                                                <button class="btn btn-sm btn-success mr-2 mb-1">{{ tag.name }}</button>
                                            </template>
                                            <p class="card-text">{{ item.description }}</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </template>

        </template>
        <template #footer>

        </template>
    </modal>
</template>

<script>
import Modal from "../../common/Modal";
import mixinModal from "../../../mixins/mixinModal";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "modalAddComic",
    data() {
        return {
            author_id  : '',
            search_type: 0,
            search_text: '',
        }
    },
    mixins    : [mixinModal],
    components: {Modal},
    watch     : {
        load_setting(flag) {
            if (!flag) {
                this.hide()
            }
        }
    },
    methods   : {
        ...mapActions('author', ['searchComic', 'setAuthorAsset', 'clearSearchComic']),
        search() {
            let params = {}
            if (this.search_text.length > 0) {
                if (this.search_type == 0) {
                    params.id = this.search_text
                } else if (this.search_type == 1) {
                    params.like_name = this.search_text
                }
            }
            this.searchComic(params)
        }
    },
    computed  : {
        ...mapGetters('load', ['getLoading']),
        ...mapGetters('author', ['search_asset']),
        load() {
            return this.getLoading('author_asset_search')
        },
        load_setting() {
            return this.getLoading('author_asset_setting')
        }
    },
    mounted() {
        this.author_id = this.$route.params.id
    }
}
</script>

<style scoped>
.p_author {
    font-size: 10px;
}

.cover {
    width: 100%;
    height: 150px;
    object-fit: contain;
}
</style>
