<template>
    <div class="">
        員工編號 <span>{{ id }}</span> 的訂閱列表
    </div>
</template>

<script>
export default {
    name: "Subscription",
    data() {
        return {
            id: -1
        }
    },
    mounted() {
        this.id = this.$route.params.id
    }
}
</script>

<style scoped>

</style>
