<template>
    <nav aria-label="breadcrumb">


        <template v-if="t1 == 'comic'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link :to="{name:'root'}">
                        首頁
                    </router-link>
                </li>
                <li class="breadcrumb-item">
                    <router-link :to="{name:'comic.list'}">
                        漫畫
                    </router-link>
                </li>
                <template v-if="name=='comic.detail'">
                    <!--                    漫畫細項-->
                    <li class="breadcrumb-item active" aria-current="page">{{ comicTitle }}</li>
                </template>
                <template v-else-if="name=='comic.pages'">
                    <!--                    漫畫頁面編輯-->

                    <template v-if="comic_data">
                        <li class="breadcrumb-item">
                            <router-link :to="{name:'comic.detail' , params:{id:comic_data.id}}">
                                {{ comicTitle }}
                            </router-link>
                        </li>
                    </template>
                    <template v-else>
                        <li class="breadcrumb-item active" aria-current="page">{{ comicTitle }}</li>
                    </template>

                    <li class="breadcrumb-item active" aria-current="page">編輯章節頁</li>

                </template>
                <template v-else>
                    <!--                     其他-->
                    <li class="breadcrumb-item active" aria-current="page">{{ title ? title : '未命名的漫畫標題'+name }}</li>
                </template>
            </ol>

        </template>
        <template v-else-if="name=='empty'">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <router-link :to="{name:'root'}">
                        首頁
                    </router-link>
                </li>
                <li class="breadcrumb-item">
                    <router-link :to="{name:'root'}">
                        還是首頁
                    </router-link>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    空白頁
                </li>
            </ol>
        </template>
        <template v-else>

        </template>

    </nav>
</template>

<script>
import routeCollapse from "../../config/routeCollapse";
import {mapGetters} from "vuex";

export default {
    name: "breadcrumb",
    data() {
        return {
            name: '',
            //目前只想到兩層，如果有需要第三層就當特例做
            t1: '',
            t2: '',

            title: null,
        };
    },
    watch   : {
        $route(to, from) {
            this.name  = to.name;
            this.title = to?.meta?.title
        },
        name(name) {
            this.t1 = routeCollapse[name]
        },
    },
    computed: {
        ...mapGetters('comic', ['comic_data', 'chapter_data']),
        comicTitle() {
            return this.comic_data ? this.comic_data.title : '未知漫畫名稱'
        },
    },
    mounted() {
        this.name  = this.$route.name
        this.title = this.$route?.meta?.title
    }
}
</script>

<style scoped>

</style>
