<template>
    <div class="" id="layout1">
        <navbar></navbar>
        <div class="container-fluid">
            <div class="row">
                <sidebar></sidebar>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                    <slot></slot>
                </main>
            </div>
        </div>
    </div>
</template>

<script>
import Navbar from "./Navbar";
import Sidebar from "./Sidebar";

export default {
    name      : "Layout",
    components: {Sidebar, Navbar}
}
</script>

<style scoped>

</style>
