<template>
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div id="sidebarMenuField" class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <router-link :to="{name:'root'}" class="nav-link">
                        <i class="el-icon-s-home"></i>首頁
                    </router-link>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>個人</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="個人">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column mb-2">

                <li class="nav-item">
                    <router-link :to="{name:'root'}" class="nav-link">
                        <span data-feather="file-text"></span>
                        <i class="fa fa-user"></i>個人資料
                    </router-link>
                </li>
            </ul>
            <!--            -->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>漫畫</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="漫畫">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>

            <ul class="nav flex-column">
                <li class="nav-item">
                    <router-link :to="{name:'comic.list'}" class="nav-link">
                        <i class="fa fa-list"></i>漫畫列表
                    </router-link>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="fa fa-book"></i>漫畫資料
                    </a>
                </li>

                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="fa fa-file-alt"></i>章節資料
                    </a>
                </li>
                <li class="nav-item">
                    <router-link :to="{name:'comic.add'}" class="nav-link">
                        <i class="fa fa-plus"></i>新增漫畫
                    </router-link>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="fa fa-plus-circle"></i>新增章節
                    </a>
                </li>
            </ul>
            <!--      會員管理      -->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>會員管理</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="會員管理">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="fa fa-plus"></i>會員列表
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="fa fa-plus"></i>會員資料
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="fa fa-plus"></i>留言管理
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="fa fa-plus"></i>訂閱管理
                    </a>
                </li>
            </ul>
            <!--      數據      -->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>數據</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="數據">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="fa fa-plus"></i>點閱、訂閱資料
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="fa fa-plus"></i>文件生成
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="fa fa-plus"></i>外部連結(MATOMO)
                    </a>
                </li>
            </ul>
            <!--      系統      -->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>數據</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="數據">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="fa fa-plus"></i>管理員帳號
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="fa fa-plus"></i>權限管理
                    </a>
                </li>
            </ul>
            <!--      追加功能      -->
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>數據</span>
                <a class="d-flex align-items-center text-muted" href="#" aria-label="數據">
                    <span data-feather="plus-circle"></span>
                </a>
            </h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="fa fa-plus"></i>地圖
                    </a>
                </li>
            </ul>

        </div>
    </nav>
</template>

<script>
export default {
    name: "Sidebar"
}
</script>

<style scoped>

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#sidebarMenuField {
    padding-bottom: 150px;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}
</style>
