<template>
    <!-- Sidebar -->
    <div class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <router-link :to="{name:'root'}" class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">後台<sup>2</sup></div>
        </router-link>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <div class="nav-item" :class="showActive('root')">
            <router-link :to="{name:'root'}" class="nav-link ">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>首頁</span>
            </router-link>
        </div>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            產品
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <div class="nav-item" :class="openCollapse('comic')">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_comic" aria-expanded="true" aria-controls="collapse_comic">
                <i class="fas fa-fw fa-list"></i>
                <span>漫畫管理</span>
            </a>
            <div id="collapse_comic" class="collapse" :class="openCollapse('comic' , 'show')" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">漫畫</h6>
                    <router-link :to="{name:'comic.list'}" class="collapse-item" :class="showActive('comic.list')">
                        漫畫列表
                    </router-link>

                    <a href="javascript:void(0)" class="collapse-item" :class="showActive('comic.detail')">
                        章節資料
                    </a>

                    <router-link :to="{name:'comic.add'}" class="collapse-item" :class="showActive('comic.add')">
                        新增漫畫
                    </router-link>

                    <a href="javascript:void(0)" class="collapse-item" :class="showActive('comic.add.chapter')">
                        新增章節
                    </a>

                    <a href="javascript:void(0)" class="collapse-item" :class="showActive('comic.pages')">
                        編輯章節
                    </a>

                    <h6 class="collapse-header">作者</h6>

                    <router-link :to="{name:'author.list'}" class="collapse-item" :class="showActive('author.list')">
                        作者列表
                    </router-link>

                    <a href="javascript:void(0)" class="collapse-item" :class="showActive('author.detail')">
                        作者資料
                    </a>

                    <h6 class="collapse-header">特殊功能</h6>

                    <router-link :to="{name:'comic.list'}" class="collapse-item">
                        推播排程列表
                    </router-link>

                    <!--          爬蟲等有第二個時再來分類，目前先歸類在特殊功能          -->
                    <router-link :to="{name:'spider.exhentai'}" class="collapse-item" :class="showActive('spider.exhentai')">
                        爬蟲引入
                    </router-link>

                </div>
            </div>

        </div>

        <!-- Nav Item - Utilities Collapse Menu -->
        <div class="nav-item" :class="openCollapse('employee')">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse_member" aria-expanded="true" aria-controls="collapse_member">
                <i class="fas fa-fw fa-user"></i>
                <span>會員管理</span>
            </a>
            <div id="collapse_member" class="collapse" :class="openCollapse('employee','show')" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">會員</h6>
                    <router-link class="collapse-item" :to="{name:'employee.list'}">
                        會員列表
                    </router-link>

                    <router-link class="collapse-item" :to="{name:'empty'}">
                        會員資料
                    </router-link>

                    <router-link class="collapse-item" :to="{name:'empty'}">
                        留言管理
                    </router-link>

                    <router-link class="collapse-item" :to="{name:'empty'}">
                        訂閱管理
                    </router-link>
                </div>
            </div>
        </div>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            個人
        </div>

        <!-- Nav Item - Charts -->
        <div class="nav-item">
            <router-link :to="{name:'root'}" class="nav-link">
                <i class="fas fa-fw fa-user"></i>
                <span>總覽</span>
            </router-link>

        </div>
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            保留區
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <div class="nav-item" :class="openCollapse('other')">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
               aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>保留折疊區</span>
            </a>
            <div id="collapsePages" class="collapse" :class="openCollapse('other' , 'show')" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">功能展示</h6>
                    <router-link class="collapse-item" :to="{name:'other.loader'}" :class="showActive('other.loader')">
                        讀取畫面總覽
                    </router-link>

                    <div class="collapse-divider"></div><!-- -->
                    <h6 class="collapse-header">Other Pages:</h6>
                    <router-link class="collapse-item" :to="{name:'empty'}">
                        空白區域
                    </router-link>
                </div>
            </div>
        </div>

        <!-- Nav Item - Charts -->
        <div class="nav-item">
            <router-link class="nav-link" :to="{name:'empty'}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>保留</span>
            </router-link>
        </div>

        <!-- Nav Item - Tables -->
        <div class="nav-item">
            <router-link class="nav-link" :to="{name:'empty'}">
                <i class="fas fa-fw fa-table"></i>
                <span>保留</span>
            </router-link>
        </div>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </div>
    <!-- End of Sidebar -->
</template>

<script>
import routeCollapse from "../../config/routeCollapse";
import goTop from "../../methods/goTop";

export default {
    name: "Sidebar2",
    data() {
        return {
            current_route_name: '',
        };
    },
    methods: {
        showActive(target) {
            if (target == this.current_route_name)
                return 'active';
            return '';
        },

        openCollapse(target, ret = 'active') {
            if (target == routeCollapse[this.current_route_name])
                return ret;
            return '';
        }
    },
    watch  : {
        $route(to, from) {
            this.current_route_name = to.name;
            goTop();
        },
        current_route_name() {

        }
    },
    mounted() {
        this.current_route_name = this.$route.name
    }
}
</script>

<style scoped>

</style>
