<template>
    <!-- Basic Card Example -->
    <div class="card shadow mb-4">

        <div class="card-header py-3" v-if="title">
            <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
        </div>
        <div class="card-body">
            <slot></slot>
        </div>
    </div>
</template>

<script>

export default {
    name : "Card",
    props: {
        title: String
    },
    data() {
        return {}
    },

}
</script>

<style scoped>

</style>
