<template>
    <div class="modal fade" ref="modal" tabindex="-1" :data-backdrop="backdrop">
        <div class="modal-dialog" :class="modal_dialog_class">
            <div class="modal-content">
                <div class="modal-header">
                    <slot name="header"></slot>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!--          這邊針對讀取中-->
                    <template v-if="load">
                        <i class="fa fa-spinner fa-spin"></i>
                        資料載入中，請稍候
                    </template>
                    <template v-else>
                        <slot name="default"></slot>
                    </template>
                </div>
                <div class="modal-footer">
                    <slot name="footer"></slot>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name : "Modal",
    props: {
        load        : {type: Boolean, default: false},
        size        : {type: String, default: ''},//modal-sm,modal-xl,modal-xl
        isScrollable: {type: Boolean, default: false},
        backdrop    : {type: String, default: "true"},//true,static
    },
    data() {
        return {}
    },
    computed: {
        modal_dialog_class() {
            return [
                this.size,
                {'modal-dialog-scrollable': this.isScrollable}
            ]
        }
    },
    methods : {
        open() {
            $(this.$refs.modal).modal('show')
        },
        hide(){
            $(this.$refs.modal).modal('hide')
        },
        //一般 backdrop 固定後就不會再變更
    },
    mounted() {
        $(this.$refs.modal).on('show.bs.modal', event => {
            this.$emit('beforeShow', event)
        })
        $(this.$refs.modal).on('shown.bs.modal', event => {
            this.$emit('afterShow', event)
        })
        $(this.$refs.modal).on('hide.bs.modal', event => {
            this.$emit('beforeHide', event)
        })
        $(this.$refs.modal).on('hidden.bs.modal', event => {
            this.$emit('afterHide', event)
        })
    }
}
</script>

<style scoped>

</style>
