<template>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a @click="prev" class="page-link" href="javascript:void(0);">上一頁</a>
            </li>

            <template v-if="links" v-for="item in links">
                <li class="page-item" :class="{ active : item.label == current_page}">
                    <template v-if="item.label=='...'">
                        <a class="page-link">...</a>
                    </template>
                    <template v-else-if="parseInt(item.label)">
                        <a class="page-link" @click="goto(item.label)">{{ item.label }}</a>
                    </template>
                </li>
            </template>

            <li class="page-item">
                <a @click="next" class="page-link" href="javascript:void(0);">下一頁</a>
            </li>
        </ul>

    </nav>

</template>

<script>
export default {
    name   : "Pagination",
    props  : {
        current_page: {},
        last_page   : {},
        total       : {},
        links       : {},
    },
    methods: {
        prev() {
            if (this.current_page <= 1)
                return
            this.$emit('goto', this.current_page - 1)
        },
        next() {
            if (this.current_page >= this.last_page)
                return
            this.$emit('goto', this.current_page + 1)
        },
        goto(target) {
            this.$emit('goto', target)
        }
    },
}
</script>

<style scoped>

</style>
