<template>
    <div class="">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">總覽</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i>生成報表</a>
        </div>

        <!-- 簡單預覽資料 -->
        <TopCard></TopCard>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">最近編輯的資料</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                 aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">動作列表</div>
                                <a class="dropdown-item" href="#">前往漫畫列表</a>
                                <a class="dropdown-item" href="#">前往作者列表</a>
                                <a class="dropdown-item" href="#">前往推播列表</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">前往XX</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-area">
                            這邊放最近編輯的漫畫、作者資料table
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">即將發布的漫畫</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink2">
                                <div class="dropdown-header">動作清單</div>
                                <a class="dropdown-item" href="#">前往會員列表</a>
                                <a class="dropdown-item" href="#">前往OO</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">前往XX</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">

                        </div>
                        <div class="mt-4 text-center small">
                            <span class="mr-2"><i class="fas fa-circle text-primary"></i> Direct</span>
                            <span class="mr-2"><i class="fas fa-circle text-success"></i> Social</span>
                            <span class="mr-2"><i class="fas fa-circle text-info"></i> Referral</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <FootCard></FootCard>
    </div>
</template>

<script>
import axios from "axios";
import TopCard from "./TopCard";
import FootCard from "./FootCard";

export default {
    name      : "Home",
    components: {
        TopCard, FootCard
    },
    data() {
        return {};
    },
    methods: {}
}
</script>

<style scoped>

</style>
