.loader_message {
    width: 100px;
    height: 75px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    border-radius: 100%;

    &:before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        border: 15px solid transparent;
        border-top: 25px solid #fff;
        transform: rotate(45deg);
        top: 50px;
        left: -15px;
    }

    &:after {
        content: '';
        width: 12px;
        height: 12px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #FF3D00;
        box-shadow: 20px 0 #FF3D00, -20px 0 #FF3D00;
        animation: flash 0.5s ease-out infinite alternate;
    }
}

@keyframes flash {
    0% {
        background-color: rgba(255, 60, 0, 0.25);
        box-shadow: 20px 0 rgba(255, 60, 0, 0.25), -20px 0 #FF3D00;
    }
    50% {
        background-color: #FF3D00;
        box-shadow: 20px 0 rgba(255, 60, 0, 0.25), -20px 0 rgba(255, 60, 0, 0.25);
    }
    100% {
        background-color: rgba(255, 60, 0, 0.25);
        box-shadow: 20px 0 #FF3D00, -20px 0 rgba(255, 60, 0, 0.25);
    }
}
