<template>
    <div class="row">
        <div class="col">
            <h1>因為技術關係，所以這邊先封存，先把 新增的 input 加到 章節列表那邊</h1>
            <div class="row">
                <div class="col">
                    <h3>新增漫畫章節</h3>
                    <button @click="test">TEST</button>
                </div>
            </div>

            <div class="row">
                <div class="col-10">
                    <input class="form-control" type="text" placeholder="請輸入章節名稱" v-model="title">
                </div>
                <div class="col-2 text-right">
                    <button class="btn btn-success btn-block" @click="postAddData">新增章節</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col text-right">
                    <a href="javascript:void(0)" @click="$refs.inp_multiple.click()">上傳檔案(複數)</a>
                    /
                    <a href="javascript:void(0)" @click="$refs.inp_directory.click()">上傳資料夾</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>目前上傳{{ now_image_count }}張圖片</p>

                    <draggable :list="show_array" handle=".drop" class="row" @end="resetSort">
                        <template v-for="item in show_array">
                            <div class="preview col-2">
                                <div class="row drop">
                                    <div class="col text-center">
                                        拖曳排序
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <img v-if="item.url" :src="item.url" alt="">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-lg-left">
                                        順序：{{ item.sort }}
                                    </div>
                                    <div class="col text-right">
                                        <button class="btn btn-sm btn-danger">刪除</button>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </draggable>

                </div>
            </div>
            <div class="" hidden>
                <input type="file" @change="uploadFile" ref="inp_multiple" placeholder="上傳複數檔案" multiple>
                <input type="file" @change="uploadDirectory" ref="inp_directory" placeholder="上傳資料夾" webkitdirectory multiple>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import draggable from 'vuedraggable'

export default {
    name      : "addChapter",
    components: {
        draggable,
    },
    data() {
        return {
            id       : -1,
            title    : '',
            file_list: [],

            show_array: [],
            path2url  : [],
        }
    },
    computed: {
        ...mapGetters('comic', ['comic_data']),
        now_image_count() {
            return this.file_list.length;
        },
    },
    watch   : {
        file_list(list) {
            let re = []
            for (let i = 0; i < list.length; i++) {
                let item = list[i]
                console.log(item)
                let url = URL.createObjectURL(item);
                re.push({
                    index: i,
                    sort : i + 1,
                    url,

                });
            }
            this.show_array = re;
        },
    },
    methods : {
        ...mapActions('comic', ['addChapter']),
        test() {
            console.log(this.file_list)
            // this.postAddData()
        },
        //清除全部暫存url
        clearFileList() {
            //註銷全部預覽圖片
            for (let i = 0; i < this.show_array.length; i++) {
                let {url} = this.show_array[i]
                URL.revokeObjectURL(url)
            }

            this.file_list = [];
        },
        //檢查、送出
        postAddData() {
            return;//先擋下
            if (this.title.length < 1) {
                alert('未輸入標題')
                return;
            }
            if (this.file_list.length < 1) {
                alert('至少上傳1張圖片')
                return;
            }

            let fd = new FormData();
            fd.append('title', this.title)
            fd.append('comic_id', this.comic_data.id)
            for (let i = 0; i < this.file_list.length; i++) {
                let file = this.file_list[i]
                fd.append('file[]', file)
            }

            this.addChapter(fd);

            //刪掉資料
            this.title = "";
            this.clearFileList()
        },
        // 上傳複數檔案
        uploadFile() {
            let f_list = this.$refs.inp_multiple.files;
            if (f_list.length < 1) {
                return
            }
            for (let i = 0; i < f_list.length; i++) {
                let file = f_list[i];
                if (!this.$image.isImage(file.type)) {
                    continue;
                }
                this.file_list.push(file);
            }
            this.$refs.inp_multiple.value = '';
        },
        // 上傳資料夾
        uploadDirectory() {
            let f_list = this.$refs.inp_directory.files;
            if (f_list.length < 1) {
                return
            }
            for (let i = 0; i < f_list.length; i++) {
                let file = f_list[i]
                if (!this.$image.isImage(file.type)) {
                    continue;
                }
                this.file_list.push(file);
            }
            this.$refs.inp_multiple.value = '';
        },
        //重新排序
        //不要在這邊重構預覽圖
        resetSort() {
            let mew_re = [];

            for (let i = 0; i < this.show_array.length; i++) {
                let {index, url} = this.show_array[i];
                let file         = this.file_list[index];
                URL.revokeObjectURL(url)
                mew_re.push(file)
            }
            this.file_list = mew_re;
        },
        // 透過檔案兌換url，如果沒有換到，就自主生成
        getPreviewUrl(file) {
            let {name} = file


        },
    },
    mounted() {
        this.id = this.$route.params.id
    },
    deactivated() {
        this.clearFileList()
    }
}
</script>

<style scoped lang="scss">
h1 {
    color: red;
}

.drop {
    cursor: pointer;
}

.preview {
    //box-shadow: 1px 1px 20px 1px black;
    &:hover {
        background-color: #aaaaaa;
    }

    .drop {

        top: 0;
        left: 0;
    }

    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
}

</style>
