<template>

    <div class="row">
        <div class="col">

            <div class="row">
                <div class="col">
                    <h3>章節管理</h3>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="row ">
                        <div class="col text-right">
                            <button class="btn btn-primary">
                                新增章節
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <template v-if="sort_desc">
                                <a href="javascript:void(0)" @click="setSort(false)">升序</a>
                            </template>
                            <template v-else>
                                <span>升序</span>
                            </template>
                            /
                            <template v-if="!sort_desc">
                                <a href="javascript:void(0)" @click="setSort(true)">降序</a>
                            </template>
                            <template v-else>
                                <span>降序</span>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <template v-for="chapter in showChapters">
                        <router-link :to="{name:'comic.pages',params:{id:chapter.id}}" type="button" class="btn btn-outline-primary m-1">
                            {{ chapter.title }} <span class="badge badge-info">{{ chapter.pages_count }} p </span>
                        </router-link>
                    </template>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

/**
 * 顯示章節、順序降序顯示
 * */
export default {
    name: "Chapters",
    data() {
        return {
            sort_desc: false,
        }
    },
    methods : {
        setSort(flag) {
            this.sort_desc = flag;
        }
    },
    computed: {
        ...mapGetters('comic', ['comic_data', 'chapters']),
        showChapters() {
            let d = this.sort_desc ? -1 : 1;
            //為了避免動到原版的，所以採用 [...]
            return [...this.chapters].sort((a, b) => {
                return (a.sort - b.sort) * d;
            });
        },
    },
}
</script>

<style scoped>

</style>
