<template>
    <Card title="留言管理">
        這邊是 edit_message
    </Card>
</template>

<script>
import Card from '../../common/Card';

export default {
    name      : "editMessage",
    components: {Card},
}
</script>

<style scoped>

</style>
