<template>
    <Card title="編輯標籤">
        這邊放編輯標籤功能
    </Card>
</template>

<script>
import Card from '../../common/Card';

export default {
    name      : "editTags",
    components: {Card},
    data() {
        return {}
    },
}
</script>

<style scoped>

</style>
