<template>
    <Card title="章節管理">
        <div class="row">
            <div class="col-6">
                <button @click="add" class="btn btn-primary btn-sm">新增章節</button>
            </div>
            <div class="col-6 text-right">
                <template v-if="sort_desc">
                    <a href="javascript:void(0);" @click="setSort(false)">
                        升序
                    </a>
                </template>
                <template v-else>
                    <span>升序</span>
                </template>
                /
                <template v-if="sort_desc">
                    <span>降序</span>
                </template>
                <template v-else>
                    <a href="javascript:void(0);" @click="setSort(true)">
                        降序
                    </a>
                </template>

            </div>
        </div>

        <hr>
        <div class="row">
            <template v-for="chapter in showChapters">
                <div class="col-3">
                    <router-link :to="{name:'comic.pages',params:{id:chapter.id} }" class="btn btn-outline-danger btn-block mb-2">
                        {{ chapter.title }}({{ chapter.pages_count }})
                    </router-link>
                </div>
            </template>
        </div>
    </Card>
</template>

<script>
import Card from '../../common/Card';
import {mapActions, mapGetters} from "vuex";
import Swal from "sweetalert2";

export default {
    name      : "editChapter",
    components: {Card},
    data() {
        return {
            sort_desc: true,
        }
    },
    methods : {
        ...mapActions('comic', ['addChapter']),
        setSort(flag) {
            this.sort_desc = flag;
        },
        add() {
            Swal.fire({
                title              : '請輸入標題',
                input              : 'text',
                inputAttributes    : {
                    autocapitalize: 'off'
                },
                showCancelButton   : true,
                confirmButtonText  : '新增',
                showLoaderOnConfirm: true,

                allowOutsideClick: () => !Swal.isLoading(),
                preConfirm       : (title) => {
                    if (title.length < 1) {
                        Swal.showValidationMessage(`請輸入標題`)
                        return
                    }

                    let fd = new FormData();
                    fd.append('comic_id', this.comic_data.id)
                    fd.append('title', title)
                    this.addChapter(fd)
                },
            }).then((result) => {
                // console.log(result)
                if (result.isConfirmed) {

                }
            })
            //todo:這邊還沒有寫完
        }
    },
    computed: {
        ...mapGetters('comic', ['chapters', 'comic_data']),
        showChapters() {
            let d = this.sort_desc ? -1 : 1;
            //為了避免動到原版的，所以採用 [...]
            return [...this.chapters].sort((a, b) => {
                return (a.sort - b.sort) * d;
            });
        },
    },
    mounted() {
    }
}
</script>

<style scoped>

</style>
