<template>
    <Card title="編輯資訊">
        <template v-if="loading_comic_data">
            資料讀取中....
        </template>
        <template v-else>
            <div class="form-row ">
                <div class="col-4">
                    <div class="row">
                        <div class="col">
                            <img v-if="comic_data" :src="showCover" alt="" class="rounded w-100">
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col">
                            <template v-if="preview_cover">
                                <button ref="btn_upload_cover" class="btn btn-primary btn-block" @click="fileUpload">上傳封面</button>
                                <button ref="btn_clear_upload" class="btn btn-danger btn-block" @click="fileClear">取消</button>
                            </template>
                            <template v-else>
                                <button ref="btn_change_cover" class="btn btn-primary btn-block" @click="fileSelect">更換封面</button>
                            </template>
                        </div>
                    </div>
                    <input type="file" ref="f" hidden @change="fileChange" :accept="accept">
                </div>
                <div class="col-8">

                    <div class="row mb-4">
                        <div class="col">
                            <label for="inp_title">標題</label>
                            <input ref="title" type="text" class="form-control" :class="inp_check.title" id="inp_title" v-model="input_data.title">
                            <div class="invalid-feedback">
                                {{ e_msg_title }}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <input type="text" class="form-control" id="validatedInputGroupCustomFile" disabled :value="author_name">
                                </div>
                                <div class="input-group-append">
                                    <button ref="btn_select_author" class="btn btn-secondary" @click="openAuthorSelector">選擇作者</button>
                                </div>
                            </div>
                            <template v-if="change_author_id">
                                <button class="btn btn-danger btn-sm mt-1" @click="authorSelected(null)">清空</button>
                            </template>

                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <label for="inp_desc">描述</label>
                            <textarea ref="desc" class="form-control" :class="inp_check.desc" name="" id="inp_desc" cols="30" rows="10">{{ input_data.description }}</textarea>
                            <div class="invalid-feedback">
                                {{ e_msg_desc }}
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-6">
                            <div class="form-check">
                                <input ref="cb_r18" class="form-check-input" type="checkbox" value="1" id="inp_check_r18" required>
                                <label class="form-check-label" for="inp_check_r18">
                                    成人警告
                                </label>
                                <div class="invalid-feedback">
                                    這邊放錯誤訊息
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-check">
                                <input ref="cb_enable" class="form-check-input" type="checkbox" :checked="input_data.enable" id="inp_check_enable" required>
                                <label class="form-check-label" for="inp_check_enable">
                                    對外開放
                                </label>
                                <div class="invalid-feedback">
                                    這邊放錯誤訊息
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row pt-2">
                        <div class="col-12">
                            <button class="btn btn-primary btn-block" @click="submit">修改</button>
                        </div>
                    </div>
                </div>
            </div>


        </template>
        <modal-select-author ref="modal" @onSelect="authorSelected"></modal-select-author>

    </Card>
</template>

<script>
import Card from "../../common/Card";
import modalSelectAuthor from "./modalSelectAuthor";

import {mapActions, mapGetters} from "vuex";
import mixinImage from "../../../mixins/mixinImage";

export default {
    name      : "editInfo",
    components: {Card, modalSelectAuthor},
    mixins    : [mixinImage],
    data() {
        return {
            input_data        : {},
            change_author_id  : null,
            change_author_name: null,

            inp_check: {},

            file         : null,
            preview_cover: null,

            e_msg_title: "",
            e_msg_desc : "",
        }
    },
    methods : {
        ...mapActions('comic', ['getComicDataById', 'getChapterById', 'editComicData']),
        openAuthorSelector() {
            this.$refs.modal.open()
        },
        //捕捉作者選擇器
        authorSelected(data = null) {
            let input_data = {...this.input_data};

            if (data) {
                input_data.author_id    = data.id;
                input_data.author_name  = data.name;
                this.change_author_id   = data.id
                this.change_author_name = data.name
                this.input_data         = input_data
            } else {
                input_data.author_id    = this.comic_data.id;
                input_data.author_name  = this.comic_data.name;
                this.change_author_id   = null
                this.change_author_name = null
                this.input_data         = input_data
            }
        },
        //送出
        submit() {
            if (!this.checkSubmit()) {
                return
            }

            this.input_data.id          = this.$route.params.id
            this.input_data.title       = this.$refs.title.value
            this.input_data.description = this.$refs.desc.value

            let fd = new FormData();
            fd.append('id', this.input_data.id)
            fd.append('title', this.input_data.title)
            fd.append('description', this.input_data.description)
            fd.append('author_id', this.input_data.author_id)
            fd.append('enable', this.input_data.enable)
            fd.append('is_r18', this.input_data.is_r18)

            this.editComicData(fd).then(() => {
                this.clearAll()
            })
        },
        //檢查送出資料
        checkSubmit() {
            let flag  = true
            let title = this.$refs.title.value

            if (title.length > 0) {
                this.setInputValid('title', 'is-valid')
            } else {
                this.setInputValid('title', 'is-invalid')
                this.e_msg_title = '必須填寫標題'

                flag = false
            }

            let desc = this.$refs.desc.value
            if (desc.length > 0) {
                this.setInputValid('desc', 'is-valid')
            } else {
                this.setInputValid('desc', 'is-invalid')
                this.e_msg_desc = '描述不可為空'

                flag = false
            }

            return flag
        },
        setInputValid(target, className) {
            let inp_check     = {...this.inp_check}
            inp_check[target] = className
            this.inp_check    = inp_check
        },
        //清空全部
        clearAll() {
            this.input_data         = {...this.comic_data}
            this.inp_check          = {}
            this.change_author_id   = null
            this.change_author_name = null
        },
        //選擇檔案
        fileSelect() {
            this.$refs.f.click()
        },
        //上傳檔案
        fileUpload() {
            let fd = new FormData();
            fd.append('id', this.input_data.id)
            fd.append('cover', this.file)

            this.editComicData(fd).then(() => {
                this.clearAll()
                this.fileClear()
            })
        },
        fileClear() {
            this.$refs.f.value = null
            this.file          = null
        },
        //監聽更換檔案
        fileChange() {
            let files = this.$refs.f.files
            if (files.length < 1) {
                this.file = null
                return
            }
            this.file = files[0]
        },
    },
    computed: {
        ...mapGetters('load', ['getLoading']),
        ...mapGetters('comic', ['loading_comic_data', 'comic_data', 'chapters']),
        loading() {
            return this.getLoading('comic_editing')
        },
        author_name() {
            //檢查是否有選擇新的作者，有則優先
            let name = this.change_author_name
            if (name)
                return name
            return this.comic_data?.author?.name
        },
        showCover() {
            if (this.preview_cover)
                return this.preview_cover

            return this.comic_data.cover
        },
    },
    watch   : {
        file(f) {
            if (f)
                this.preview_cover = this.createPreviewURL(f)
            else {
                this.preview_cover = null
                this.removePreviewURL(this.preview_cover)
            }
        },
        comic_data(data) {
            this.input_data = {...data}
        },
        loading(flag) {
            this.$refs.title.disabled             = flag
            this.$refs.desc.disabled              = flag
            this.$refs.btn_select_author.disabled = flag
            this.$refs.cb_r18.disabled            = flag
            this.$refs.cb_enable.disabled         = flag
            this.$refs.btn_upload_cover.disabled  = flag
            this.$refs.btn_clear_upload.disabled  = flag
            this.$refs.btn_change_cover.disabled  = flag
        },
    },
    mounted() {
        this.clearAll()
    }
}
</script>

<style scoped>

</style>
