<template>
    <Card title="漫畫資訊">
        <template v-if="loading_comic_data">
            資料讀取中....
        </template>
        <template v-else>
            <template v-if="comic_data">

                <div class="text-center">
                    <img id="img_cover" class="d-block mx-auto mb-4 img-thumbnail" :src="comic_data.cover" alt="">
                    <h2>{{ comic_data.title }}</h2>
                    <p class="lead text-left">{{ comic_data.description }}</p>
                </div>
                <Card>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="author">作者</label>
                                <input type="text" class="form-control" id="author" :value="author_name" disabled>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label for="r18">是否為限制漫畫</label>
                                <input type="text" class="form-control" id="r18" :value="comic_data.is_r18?'Yes':'No'" disabled>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label for="enable">是否對外開放</label>
                                <input type="text" class="form-control" id="enable" :value="comic_data.enable?'Yes':'No'" disabled>
                            </div>
                        </div>

                        <div class="col-12">
                            <p>標籤：</p>
                            <template v-for="tag in tags">
                                <button class="btn btn-success btn-sm mr-2">{{ tag.name }}</button>
                            </template>
                        </div>

                    </div>

                </Card>

                <Card>
                    <div class="row">
                        <div class="col">
                            <h3>最新章節(總章節數:{{ chapters ? chapters.length : 0 }})</h3>
                            <p class="text-right ">
                                <a href="javascript:void(0)" @click="setDetailSelect('edit_chapter')">前往章節管理</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <template v-for="item in showTop5Chapter">
                            <div class="col-3">
                                <a class="btn btn-outline-danger btn-block mb-2">
                                    {{ item.title }}
                                </a>
                            </div>
                        </template>
                    </div>
                </Card>
                <Card>
                    <h3>最新留言(總留言數:{{ comic_data.messages_count }})</h3>
                    <a href="javascript:void(0)" @click="setDetailSelect('edit_message')" class="text-right">前往留言管理</a>
                    <div class="">XX我婆</div>
                </Card>
            </template>
        </template>
    </Card>
</template>

<script>
import Card from '../../common/Card';
import {mapActions, mapGetters} from "vuex";

export default {
    name      : "info",
    components: {Card},
    data() {
        return {}
    },
    methods : {
        ...mapActions('comic', ['getComicDataById', 'getChapterById', 'setDetailSelect']),

    },
    computed: {
        ...mapGetters('comic', ['loading_comic_data', 'comic_data', 'chapters']),
        author_name() {
            return this.comic_data?.author?.name
        },
        tags() {
            let tags = this.comic_data?.tags

            return tags ? tags : [];
        },
        showTop5Chapter() {
            let re       = [];
            let chapters = [...this.chapters].sort((a, b) => {
                return (a.sort - b.sort) * -1;
            })

            for (let i in chapters) {
                re.push(chapters[i])

                if (re.length >= 7) {
                    break
                }
            }

            return re;
        },
        showTop5Message() {
        },
    },
    mounted() {

        // this.getPagesById(this.id)
    }
}
</script>

<style scoped lang="scss">
#img_cover {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}
</style>
