<template>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3>顯示留言</h3>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    這邊顯示留言
                </div>
            </div>

        </div>
    </div>
</template>

<script>
export default {
    name: "messages"
}
</script>

<style scoped>

</style>
