<template>
    <modal ref="modal" size="modal-xl" @afterHide="clearSearchAuthor">

        <template #header>
            選擇作者
        </template>
        <template #default>

            <div class="form-row align-items-center mb-2">

                <div class="col-auto my-1">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" v-model="search_type">
                        <option value="0">編號</option>
                        <option value="1">名稱</option>
                    </select>
                </div>
                <div class="col-auto my-1">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="text" class="form-control" v-model="search_text">
                    </div>
                </div>
                <div class="col-auto my-1">
                    <button type="button" class="btn btn-primary" @click="search">搜尋</button>
                </div>
            </div>
            <template v-if="load">

                <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

            </template>
            <template v-else>
                <template v-for="item in editor_search_authors ">
                    <div class="row">
                        <div class="col-12">

                            <div class="card mb-3">
                                <div class="row no-gutters">

                                    <div class="col-3">
                                        <img class="photo" :src="item.photo" alt="photo">
                                    </div>

                                    <div class="col-9">
                                        <div class="card-body">
                                            <h5 class="card-title m-0">
                                                {{ item.name }}
                                                <small>
                                                    <a @click="selectAndClose(item)" href="javascript:void(0);">關聯</a>
                                                </small>
                                            </h5>
                                            <template v-if="item.comics && item.comics.length>0">
                                                <p class="p_comic m-0 p-0 mb-1">代表作品</p>
                                                <template v-for="comic in item.comics">
                                                    <a class="btn btn-sm btn-success mr-2 mb-1" :href="'/comic/'+comic.id" target='_blank'>{{ comic.title }}</a>
                                                </template>
                                            </template>

                                            <p class="card-text">{{ item.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>

            </template>

        </template>
        <template #footer>

        </template>

    </modal>
</template>

<script>
import Modal from "../../common/Modal";
import mixinModal from "../../../mixins/mixinModal";
import {mapActions, mapGetters} from "vuex";

export default {
    name      : "modalSelectAuthor",
    mixins    : [mixinModal],
    components: {Modal},
    data() {
        return {
            search_type: 0,
            search_text: '',
        }
    },
    methods : {
        ...mapActions('comic', ['searchAuthor', 'clearSearchAuthor']),
        search() {

            let params = {}
            if (this.search_text.length > 0) {
                if (this.search_type == 0) {
                    params.id = this.search_text
                } else if (this.search_type == 1) {
                    params.like_name = this.search_text
                }
            }
            this.searchAuthor(params)
        },
        selectAndClose(data) {
            this.$emit('onSelect', data)
            this.hide();
        },
    },
    computed: {
        ...mapGetters('load', ['getLoading']),
        ...mapGetters('comic', ['editor_search_authors']),
        load() {
            return this.getLoading('comic_author_search');
        },
    },
}
</script>

<style scoped>
.p_comic {
    font-size: 10px;
}

.photo {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

</style>
