<template>
    <div class="col-3">
        <button class="btn btn-success" @click="showDialog">新增漫畫</button>
        <modal id="add" :load="loading" ref="add">
            <template #header>
                新增漫畫
            </template>
            <template #default>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="漫畫名稱" v-model="title">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="漫畫描述" v-model="description">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="file" ref="f" placeholder="檔案" @change="setFile" accept=".jpg,.jpeg,.png">
                    </div>
                </div>
                <div class="row" v-if="cover_temp_url">
                    <div class="col">
                        <img :src="cover_temp_url" class="rounded float-left" alt="">
                    </div>
                </div>
            </template>
            <template #footer>
                <template v-if="comic_data">
                    <button class="btn btn-primary" @click="hideDialogAndGoto">前往「{{ comic_data.title }}」</button>
                    <button class="btn btn-success" @click="clearAndAdd">再新增一筆</button>
                </template>
                <template v-else>
                    <button class="btn btn-success" @click="add">新增漫畫</button>
                </template>
            </template>
        </modal>
    </div>

</template>

<script>
import Modal from "../../common/Modal";
import {mapActions, mapGetters} from "vuex";

export default {
    name      : "addComicBtn",
    components: {Modal},
    data() {
        return {
            loading    : false,
            title      : "test標題",//這邊是標題，暫時先寫死
            description: "我是介紹 test test test test test",
            author_id  : 0,
            cover      : null,

            cover_temp_url: null,
        }
    },
    computed: {
        ...mapGetters('comic', ['comic_data']),
        checkAddData() {
            return this.title.length > 0
        }
    },
    methods : {
        ...mapActions('comic', ['addComic', 'clearComicData']),
        add() {
            //檢查
            if (!this.checkAddData) {
                return
            }
            //
            let fd = new FormData();
            fd.append('title', this.title)
            fd.append('description', this.description)
            fd.append('cover', this.cover)

            this.addComic(fd);
        },
        clear() {
            this.title         = ''
            this.description   = ''
            this.author_id     = 0
            this.cover         = null
            this.$refs.f.value = ''
        },
        clearAndAdd() {
            this.clear();
            this.clearComicData()
        },
        showDialog() {
            this.clearComicData()
            this.$refs.add.open()
        },
        hideDialogAndGoto() {
            this.$refs.add.hide()
            this.$router.push({name: 'comic.detail', params: {id: this.comic_data.id}})
        },
        setFile() {
            let fs = this.$refs.f.files;
            if (fs.length < 1)
                this.cover = null
            else
                this.cover = fs[0]
        },

    },
    watch   : {
        cover(cover) {
            if (!cover) {
                URL.revokeObjectURL(this.cover_temp_url)
                this.cover_temp_url = null
            } else
                this.cover_temp_url = URL.createObjectURL(cover);
        },
    },
    mounted() {
        this.clear();
    }
}
</script>

<style scoped>
img.rounded {
    width: 100%;
}
</style>
