<template>
    <div class="table-responsive">
        <template v-if="loading">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>標題</th>
                    <th>簡介</th>
                    <th>作者</th>
                    <th>開放</th>
                    <th>最後更新時間</th>
                    <th class="th_control"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="7">資料讀取中</td>
                </tr>
                </tbody>
            </table>
        </template>
        <template v-else>
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>標題</th>
                    <th>簡介</th>
                    <th>作者</th>
                    <th>開放</th>
                    <th>最後更新時間</th>
                    <th class="th_control"></th>
                </tr>
                </thead>
                <tbody>
                <template v-for="item in list">
                    <tr>
                        <td>
                            <img :src="item.cover" class="img-thumbnail" alt="">
                        </td>

                        <td>{{ item.title }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.author_id }}</td>
                        <td>{{ item.enable }}</td>
                        <td>{{ item.updated_at }}</td>
                        <td class="th_control">
                            <router-link :to="{name:'comic.detail' , params:{id:item.id}}">編輯</router-link>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </template>
    </div>
</template>

<script>

import {mapGetters} from "vuex";

export default {
    name    : "comicTable",
    computed: {
        ...mapGetters('comic', ['list', 'loading']),
    }

}
</script>

<style scoped>
.th_control {
    width: 100px;
    text-align: center;
}

.img-thumbnail {
    max-width: 200px;
    max-height: 200px;
}
</style>
