<template>
    <div class="row">
        <div class="col-9">
            這邊放搜尋
        </div>
        <add-comic-btn></add-comic-btn>
    </div>
</template>

<script>

import AddComicBtn from "./addComicBtn";

export default {
    name      : "listControlBar",
    components: {AddComicBtn},
}
</script>

<style scoped>

</style>
