<template>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">上一頁</a></li>
            <template v-for="item in links">
                <li class="page-item" :class="{ active : item.label == info.current_page}">
                    <template v-if="item.label=='...'">
                        <a class="page-link">...</a>
                    </template>
                    <template v-else-if="parseInt(item.label)">
                        <a class="page-link" @click="setListByPage(item.label)">{{ item.label }}</a>
                    </template>
                </li>
            </template>

            <li class="page-item"><a class="page-link" href="#">下一頁</a></li>
        </ul>

    </nav>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name    : "pagination",
    computed: {
        ...mapGetters('comic', ['info', 'links']),
    },
    watch   : {
        links() {
        }
    },
    methods : {
        ...mapActions('comic', ['setPage', 'getComicList']),
        setListByPage(page) {
            this.setPage(page)
            this.getComicList()
            this.$router.push({query: {page}})
        },
    },
}
</script>

<style scoped>
li {
    cursor: pointer;
}
</style>
