<template>
    <div class="row">
        <div class="col">
            <div class="call_component card my-1 shadow-none" :class="className" @click="click">
                <div class="p-2">

                    <div class="row align-items-center ">
                        <div class="col-auto">
                            <div class="btn btn-link btn-lg text-muted">
                                <i class="fas fa-fw " :class="icon"></i>
                            </div>
                        </div>
                        <div class="col ps-0 ">
                            <a class="text-muted bold">
                                <slot></slot>
                            </a>
                            <p class="mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "sidebarButton",
    data() {
        return {};
    },
    props: {
        icon     : String,
        target   : String,
        className: String,
    },

    computed: {
        ...mapGetters('comic', ['detail_select']),
        isSelect() {
            if (this.detail_select == this.target)
                return 'border-danger'
            return 'border'
        },
    },
    methods : {
        ...mapActions('comic', ['setDetailSelect']),
        click() {
            this.$emit('click')
        },
    }
}
</script>

<style scoped lang="scss">
.call_component {
    cursor: pointer !important;

    &:hover {
        background-color: #f6f6f6;
    }
}
</style>
